* {
    font-size: 16px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(246, 246, 246);
}
body{
    background-color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    padding: 1rem !important;
}
/* TILL FÖR ATT MODIFIERA H1 TILL H4 */
h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.00rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.50rem;
}

h5 {
    font-size: 1.25rem;
}

/* TILL FÖR ATT TA BORT UNDERLINE PÅ ICONER */
.telefonnr a,
.adressinfo a {
    text-decoration: none;
}

nav {
    overflow: hidden;
    background-color: #fffffff2;
    color: #000;
    position: sticky !important;
    top: 0 !important;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  nav #myLinks {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 1.25rem;
  }
  
  /* Style navigation menu links */
  nav a {

    color: black;
    padding: 0.4rem 1rem 0.3rem 1rem !important;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }
  
  /* Style the hamburger menu */
  nav a.icon {
    display: inline;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
  }
  
  /* Add a grey background color on mouse-over */
  nav #myLinks a:hover {
border-bottom: 0.1rem dotted black;
    }
    nav #myLinks a:active {
        border-bottom: 0.1rem dotted black;
    }
  
  /* Style the active link (or home/logo) */
  .active {
    color: red !important;
    font-weight: bold !important;
    text-shadow: 0.15rem 0.15rem 0.2rem #0000007b;
    font-size: 1.8rem !important;
  }
  .active a:hover {
    font-weight: bolder;
  }

header {
    background-image: url(/img/hotelimage.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: auto !important;
}

/* IKONERNA FÖR INFORUTAN */
.fi {
    font-size: 1.9rem;
    display: block;
}

.telefonnr p i {
    font-size: 0.85rem;
}

.oppetdagar {
    font-weight: bold;
}

.adressinfo,
.telefonnr,
.oppettider {
    max-width: 220px;
    min-height: 140px;
    background-color: #ffffffe1;
    padding: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dagenslunch {
    min-width: 250px;
    max-width: 400px;
    min-height: 140px;
    background-color: #ffffffe1;
    padding: 2rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.oppettider p {
    display: inline;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

/* DAGENS LUNCH */
.dagenslunch p {
    padding-top: 0rem;
    margin-top: 0rem;
}








/* ################### */
/* # TABLE STYLING # */
/* ################### */
/* TABLEROW SEPARERARE */
.bold-txt {
    font-weight: bold;
}

table td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid black !important;
}
table td:nth-child(0){
    padding-right: 0.4rem;
}
table td:nth-last-child() p {
    text-align: right !important;
    
}

main h3 {
    padding-top: 8rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    margin-top: 5rem;
}

/*#################### MEDIA QUERY's ########################*/
@media (min-width: 700px) {
    .info {
        display: flex;
    }

    .info div {
        min-width: 200px;
        min-height: 140px;
    }
}

@media (min-width: 840px) {
    body {
        max-width: 840px;
        margin: 0 auto;
        border: 1px solid #dcdcdc;
        padding: 20px;
    }
}
